body {
    // background: red !important;
    // font-family: 'Shadows Into Light' !important;
}

.container--homepage-content {
}

.landing-background-video {
   position: relative; 
}

.site-content--homepage {
    margin: -135px 0 0 0;
}

.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    // z-index: -1;

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }

    h1 {
        color: #FFEF6B;
        padding: 0 0 0px 0;
        font-size: 6.25rem;
        padding: 20px;
        margin: 0;
        line-height: 1.4;
        letter-spacing: 2px;
        font-family: 'Chelsea Market', sans-serif;
        text-align: center;
        max-width: 700px;
        // margin-bottom: 10%;

        span {
            color: #FF7A64;
            position: relative;
            // display: inline-block;

            // &::after {
            //     content: "";
            //     display: block;
            //     height: 3px;
            //     width: 100%;
            //     background: #FFEF6B;
            //     position: absolute;
            //     left: 0;
            //     bottom: 0;
            // }
        }

        @media(max-width: 768px) {

        }

        @media(max-width: 575px) {
            font-size: 5rem;
        }
    }
}