.site-header--homepage {
    background: transparent !important;
    
    .container-fluid--header {
        padding: 15px 60px;
        // display: none;
    }

    .header-titles-wrapper {
        width: 100%;
        max-width: 100% !important;
        margin: 0 !important;
    }

    .header-titles {
        max-width: 100%;
        width: 100%;
        margin: 0 !important;
        justify-content: center;
    
        img {
            height: 60px;
        }
    
        h1 {
            margin: 0 auto !important;
            line-height: 1;
            font-size: 2.5rem;
            color: #FFEF6B;
            font-weight: 500 !important;
            font-family: 'Chelsea Market', sans-serif;
            background-color: #FF7A64;
            border: 2px dotted #FFEF6B;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            border-radius: 50%;
            height: 95px;
            width: 95px;
            letter-spacing: 1px;
            // box-shadow: 0 0 10px 3px rgba(0,0,0,0.05);
            line-height: 1.2;
        }
    }
}




